name: Release
run-name: Release ${{ inputs.releaseVersion }}

on:
  # Only run when manually triggered
  workflow_dispatch:
    inputs:
      # Take the desired version number as input, don't simply remove the `-SNAPSHOT` suffix from the current version
      # because the changes since the last release might actually require a minor or major version bump
      releaseVersion:
        description: 'Project version to release (e.g. 1.2.3)'
        required: true
        type: string

permissions:
  contents: write # to update code and create release


jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v6

      - name: Set up Java
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 17

      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          # Disable caching for release to make sure release build is really reproducible,
          # and to protect against potentially poisoned cache, see also https://docs.zizmor.sh/audits/#cache-poisoning
          cache-disabled: true

      - name: Update project version
        run: sed -i "s/project.version=.*$/project.version=${{ inputs.releaseVersion }}/" gradle.properties

      - name: Configure Git
        run: |
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config user.name "github-actions[bot]"

      - name: Commit & push
        run: |
          git add .
          git commit -m "Release version ${{ inputs.releaseVersion }}"
          git tag -a "v${{ inputs.releaseVersion }}" -m "Release ${{ inputs.releaseVersion }}"
          # Already push changes here so that GitHub Release can be created below
          git push --follow-tags

      - name: Create release artifacts
        # Don't automatically download JDK toolchain; existing JDK of this workflow should be compatible
        run: ./gradlew assemble -Porg.gradle.java.installations.auto-download=false

      - name: Create release and upload artifacts
        uses: softprops/action-gh-release@5be0e66d93ac7ed76da52eca8bb058f665c3a5fe  # v2.4.2
        with:
          tag_name: v${{ inputs.releaseVersion }}
          name: unsafe-address-sanitizer ${{ inputs.releaseVersion }}
          files: build/libs/unsafe-address-sanitizer-*-standalone-agent.jar

      - name: Prepare next snapshot
        run: |
          # Version bumping is based on https://stackoverflow.com/a/4486087
          NEXT_VERSION=$(echo "${{ inputs.releaseVersion }}" | awk -F. '{$NF++;print}' OFS=.)-SNAPSHOT
          sed -i "s/project.version=.*/project.version=$NEXT_VERSION/" gradle.properties
          git add .
          git commit -m "Update project version to $NEXT_VERSION"
          git push
